.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-xl);
  border-radius: 12px;
  padding: 1.875rem;
  background-image: url(https://northernvirginiafamilymedicine.com/wp-content/uploads/2018/11/PrimaryCareWeb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

}

.form-section::after {
  content: "";
  background-color: rgb(212, 235, 255, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.form-left {
  /* flex: 1; */
  z-index: 10;
}

.form-right {
  z-index: 10;
  /* flex: 1; */
}



.form-title {
  font-size: var(--size-3xl);
  max-width: 20ch;
  /* color: var(--clr-bg-dark); */
}

.form-desc {
  margin-top: 15px;
  font-size: var(--size-base);
  max-width: 60ch;
  /* color: #ccc; */
}

.form-cont {
  display: inline-block;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* ---------responsiveness-------------- */

/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
@media (max-width: 768px) {
  .form-section {
    flex-direction: column;
    padding: 1.25rem;
  }


}

/* sm */
@media (max-width: 640px) {
  .form-section {
    gap: var(--size-base);
    padding: 1rem;
  }

  .form-title {
    font-size: var(--size-xl);
  }

  .form-desc {
    font-size: var(--size-xs);
    max-width: 60ch;
  }
}

/* xs */
@media (max-width: 475px) {

  .form-right,
  .form-cont {
    width: 100%;
  }
}