.location-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  max-width: 1100px;
  margin: 60px auto;
  padding: 3rem 1.25rem;
  color: var(--clr-primary);
}

.location-map {
  background-color: var(--clr-bg-dark);
  border-radius: 6px;
}

.location-text {
  flex: 1;
  text-align: left;
}

.location-text h2 {
  font-size: var(--size-3xl);
  margin-bottom: 15px;
  color: var(--clr-primary);
}

.location-text p {
  font-size: var(--size-base);
  margin-bottom: 10px;
  color: var(--clr-primary);
}

.map-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.map-wrapper iframe {
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* -----media section----- */

/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
@media (max-width: 1280px) {
  .location-wrapper {
    padding: 2rem;
  }
}

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
@media (max-width: 768px) {
  .location-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .location-text {
    text-align: left;
  }

  .map-wrapper iframe {
    height: 300px;
  }


}

/* sm */
@media (max-width: 640px) {

  .location-text h2 {
    font-size: var(--size-2xl);
  }

  .location-text p {
    font-size: var(--size-sm);
  }
}

/* xs */
@media (max-width: 475px) {
  .location-wrapper {
    padding: 1.25rem;
  }

  .location-text h2 {
    font-size: var(--size-xl);
  }

  .location-text p {
    font-size: var(--size-xs);
  }

}