.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.logo-img {
  width: var(--size-5xl);
  height: var(--size-5xl);
}

.logo-title {
  font-size: var(--size-lg);
  line-height: 1em;
  user-select: none;
}

.navlinks {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 1.5em;
}

.navlink {
  font-size: var(--size-base);
  font-weight: 500;
  color: #284b98;
  position: relative;
  padding: 0 5px;
  display: inline-block;
  transition: transform 0.2s, color 0.2s;
}

.navlink::after {
  content: '';
  background: var(--clr-primary);
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -5px;
  border-radius: 15px;
  transition: 0.3s;
}

.navlink:hover:after {
  width: 100%;
}


.navlink:hover {
  color: var(--clr-primary);
  transform: translateY(-2px);
}

.navlink.active {
  color: var(--clr-primary);
  font-weight: 600;
}

.book-btn {
  font-size: var(--size-base);
  margin-left: 5px;
}

.nav-line {
  border: 1px solid var(--clr-primary);
  padding-top: 1.5rem;
  padding-inline: 0;
}

.nav-ham-menu {
  display: none;
  color: #284b98;
  font-size: var(--size-xl);
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.nav-ham-menu-close {
  display: none;
  color: var(--clr-light);
  font-size: var(--size-2xl);
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 5px;
  cursor: pointer;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 98;
  display: none;
}



/* -------------responsive-------------- */


/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
@media (max-width: 1024px) {

  .logo {
    gap: 0.5rem;
  }

  .logo-title {
    font-size: var(--size-base);
  }

  .navlinks {
    column-gap: 0.5em;
  }

  .navlink {
    font-size: var(--size-sm);

  }

  .book-btn {
    font-size: var(--size-sm);
  }

}

/* md */
@media (max-width: 768px) {
  .navlinks {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    background-color: var(--clr-primary);
    color: var(--clr-light);
    z-index: 99;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--size-sm);
    transition: right 300ms ease-out;
  }

  .navlinks.show {
    right: 0;
  }

  .navlinks.show~#overlay {
    display: block;
  }

  .navlinks li:not(:last-child) {
    width: 100%;
  }

  .navlink {
    display: block;
    color: var(--clr-light);
    width: 100%;
    text-align: left;
    padding: 1em 2em;
    font-size: var(--size-sm);
    transition: background-color 150ms ease;
  }

  .navlink::after {
    display: none;
  }

  .navlink.active {
    background: var(--clr-light);
    color: var(--clr-primary);
    font-weight: 600;
  }

  .navlink:hover {
    transform: none;
  }

  .navlink:hover:not(.active) {
    background: rgba(255, 255, 255, 0.1);
    color: var(--clr-light);
    transform: none;
  }


  .nav-ham-menu {
    display: block;
  }

  .navlinks.show .nav-ham-menu-close {
    display: block;
  }

  .book-btn {
    font-size: var(--size-sm);
    display: block;
    margin-left: 1.2em;
    padding: 0.6em 0.9em;
    margin-top: 3px;
    /* margin-left: 1em; */
    /* margin-left: auto; */
    /* margin-right: auto; */
  }

}

/* sm */
@media (max-width: 640px) {
  .logo {
    gap: 0.3rem;
  }

  .logo-img {
    width: var(--size-4xl);
    height: var(--size-4xl);
  }

  .logo-title {
    font-size: var(--size-sm);
  }

}

/* xs */
/* @media (max-width: 475px) {} */