.services-list {
  display: flex;
  align-items: center;
  gap: var(--size-base);
  margin-top: var(--size-base);
}

.services-list-img {
  border-radius: 7px;
  height: 100%;
  width: 100%;
}

.service-mini {
  display: none;
}

/* ----------responsiveness----------- */
/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
@media (max-width: 768px) {
  .services-list {
    justify-content: center;
  }

  .services-list-img {
    max-width: 120px;
  }


  .service-large {
    display: none;
  }

  .service-mini {
    display: block;
  }

}

/* sm */
@media (max-width: 640px) {
  .services-list {
    gap: var(--size-sm);
  }
}


/* xs */
/* @media (max-width: 475px) {} */