/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */


.btn {
  padding: 0.6rem 0.85rem;
  display: inline-block;
  background-color: #488aec;
  /* background-color: var(--clr-btn); */
  color: var(--clr-light);
  font-size: 0.87rem;
  font-weight: 600;
  text-align: center;
  /* text-transform: uppercase; */
  border-radius: 6px;
  text-decoration: none;
  letter-spacing: -0.05em;
  box-shadow: 0 6px 8px -1px #488aec31,
    0 4px 6px -1px #488aec17;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow:
    0 13px 15px -3px #488aec4f,
    0 4px 6px -2px #488aec17;
}

button:focus,
button:active {
  opacity: 0.85;
  box-shadow: none;
}



.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid red;
}

.section {
  margin-bottom: 5rem;
}

/* mobile screens */
/* font-size:sm */

/* largescreen */
/* font-size:base */



/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .section {
    margin-bottom: 2rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}