.btn {
  padding: 0.7rem 1rem;
  display: inline-block;
  background-color: #488aec;
  /* background-color: var(--clr-btn); */
  color: var(--clr-light);
  /* font-size: 0.75rem; */
  font-weight: 600;
  text-align: center;
  /* text-transform: uppercase; */
  border-radius: 6px;
  /* letter-spacing: -0.05em; */
  box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}

button:hover {
  box-shadow:
    0 10px 15px -3px #488aec4f,
    0 4px 6px -2px #488aec17;
}

button:focus,
button:active {
  opacity: 0.85;
  box-shadow: none;
}